// TYPOGRAPHY
$default-font-family: 'Open Sans', sans-serif;

$large-font-size: 24px;
$standard-font-size: 16px;
$small-font-size: 12px;

$margin: 20px;

// COLORS
$grey: #eee;
$accent-color: #7bc8a4; // green
